__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.vscode/
.env
.git
.gitignore
.github/
.idea/
.vscode/
.pytest_cache/
Resources/
test/
app.py
college_dept_map.py
constants.py
convert_logp_to_base64.py
db_queries.py
questionnaire.py
student_dashboard.py
supabase_client.py
wake.py
